.addUser{
  width: max-content;
  height: max-content;
  padding: 1.8rem;
  background-color: rgba(17, 25, 40, 0.78);
  border-radius: 10px;
  position: absolute;
  inset: 0;
  margin: auto;

  form{
    display: flex;
    gap: 1.2rem;

    input{
      padding: 1.2rem;
      border-radius: 0.6rem;
      border: none;
      outline: none;
    }

    button{
      padding: 1.2rem;
      border-radius: 0.6rem;
      background-color: #1a73e8;
      border: none;
      cursor: pointer;
    }
  }

  .user{
    margin-top: 3.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .detail{
      display: flex;
      align-items: center;
      gap: 1.2rem;

      img{
        width: 3.1rem;
        height: 3.1rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button{
      padding: 0.6rem;
      border-radius: 0.6rem;
      background-color: #1a73e8;
      border: none;
      cursor: pointer;
    }
  }
}